# Lock the session when the yubikey is removed
ACTION=="remove", SUBSYSTEM=="usb", ENV{PRODUCT}="1050/407/527", RUN+="/usr/bin/loginctl lock-sessions"
