[Unit]
Description=Clean downloads service

[Service]
Type=oneshot
ExecStart=bash -c '/usr/bin/rm -rf `/usr/bin/xdg-user-dir DOWNLOAD`/*'
WorkingDirectory=/home/czocher
